.App {
  font-family: 'Roboto', sans-serif;
}

body{
  margin-top: 50px;
  margin-bottom: 50px;
}

.container{
  width: auto;
  max-width: 900px;
  min-height: 100%;
  padding: 0 15px;
}

.container .footer-text{
  margin: 20px 0;
  position: relative;
}

.badge{
  background-color: cornsilk;
  color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.book-img{
  height: 400px;
  width: 100%;
}

.link{
  background:none!important;
  border:none; 
  padding:0!important;
  text-decoration:underline;
  cursor:pointer;
}

